In [116]:
import pandas
import io
import sys
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import plotly.express as px

from sklearn.preprocessing import LabelEncoder 
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score, recall_score, f1_score, precision_score

In [117]:
# from sklearn.metrics import plot_confusion_matrix

In [118]:
from scipy import optimize
from scipy.optimize import curve_fit

In [119]:
datos=pd.read_csv('acpe_rs.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos1=pd.read_csv('acpe_r1b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos2=pd.read_csv('acpe_r2b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos3=pd.read_csv('acpe_r3b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos4=pd.read_csv('acpi_rs.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos5=pd.read_csv('acpi_r1b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos6=pd.read_csv('acpi_r2b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos7=pd.read_csv('acpi_r3b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos8=pd.read_csv('axial_rs.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos9=pd.read_csv('axial_r1b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos10=pd.read_csv('axial_r2b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos11=pd.read_csv('axial_r3b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos12=pd.read_csv('base_rs.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos13=pd.read_csv('base_r1b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos14=pd.read_csv('base_r2b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos15=pd.read_csv('base_r3b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos16=pd.read_csv('carc_rs.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos17=pd.read_csv('carc_r1b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos18=pd.read_csv('carc_r2b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])
datos19=pd.read_csv('carc_r3b.csv',header=None,names=['p1','p2','p3','p4','a1','a2','a3','a4'])

Datos Rs

In [120]:
datos=datos.assign(Vib=1) #acpe
datos4=datos4.assign(Vib=2) #acpi
datos8=datos8.assign(Vib=3) #axial
datos12=datos12.assign(Vib=4) #base
datos16=datos16.assign(Vib=5) #carc

datos=datos.assign(Falla=1) #acpe
datos4=datos4.assign(Falla=1) #acpi
datos8=datos8.assign(Falla=1) #axial
datos12=datos12.assign(Falla=1) #base
datos16=datos16.assign(Falla=1) #carc

Datos r1b

In [121]:
datos1=datos1.assign(Vib=1) #acpe
datos5=datos5.assign(Vib=2) #acpi
datos9=datos9.assign(Vib=3) #axial
datos13=datos13.assign(Vib=4) #base
datos17=datos17.assign(Vib=5) #carc

datos1=datos1.assign(Falla=2) #acpe
datos5=datos5.assign(Falla=2) #acpi
datos9=datos9.assign(Falla=2) #axial
datos13=datos13.assign(Falla=2) #base
datos17=datos17.assign(Falla=2) #carc

Datos r2b

In [122]:
datos2=datos2.assign(Vib=1) #acpe
datos6=datos6.assign(Vib=2) #acpi
datos10=datos10.assign(Vib=3) #axial
datos14=datos14.assign(Vib=4) #base
datos18=datos18.assign(Vib=5) #carc

datos2=datos2.assign(Falla=3) #acpe
datos6=datos6.assign(Falla=3) #acpi
datos10=datos10.assign(Falla=3) #axial
datos14=datos14.assign(Falla=3) #base
datos18=datos18.assign(Falla=3) #carc

Datos r3b

In [123]:
datos3=datos3.assign(Vib=1) #acpe
datos7=datos7.assign(Vib=2) #acpi
datos11=datos11.assign(Vib=3) #axial
datos15=datos15.assign(Vib=4) #base
datos19=datos19.assign(Vib=5) #carc

datos3=datos3.assign(Falla=4) #acpe
datos7=datos7.assign(Falla=4) #acpi
datos11=datos11.assign(Falla=4) #axial
datos15=datos15.assign(Falla=4) #base
datos19=datos19.assign(Falla=4) #carc

Union de dataframes

In [124]:
df=pd.concat([datos,datos1,datos2,datos3,datos4,datos5,datos6,datos7,datos8,datos9,datos10,datos11,datos12,datos13,datos14,datos15,datos16,datos17,datos18,datos19],ignore_index=True)
df

     p1  p2    p3    p4       a1      a2       a3       a4  Vib  Falla
0     5   7     9    17   744.64  1266.9  3572.90   864.00    1      1
1     5   9    17  1984  1337.00  3553.3   861.81   861.81    1      1
2     5   9    17  1983   892.09  3424.5   899.00   899.00    1      1
3     9  17  1982  1990  3411.00   992.5   992.50  3411.00    1      1
4     5   9    17  1981   799.41  3446.7   893.03   893.03    1      1
..   ..  ..   ...   ...      ...     ...      ...      ...  ...    ...
795   9  16  1951  1958  3704.90  3178.5  3178.50  3704.90    5      4
796   9  16  1950  1957  3710.40  3321.2  3321.20  3710.40    5      4
797   9  16  1949  1956  3850.80  3403.1  3403.10  3850.80    5      4
798   9  16  1948  1955  3627.00  2981.6  2981.60  3627.00    5      4
799   9  16  1947  1954  3533.40  2883.5  2883.50  3533.40    5      4

[800 rows x 10 columns]

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   p1      800 non-null    int64
 1   p2      800 non-null    int64
 2   p3      800 non-null    int64
 3   p4      800 non-null    int64
 4   a1      800 non-null    float64
 5   a2      800 non-null    float64
 6   a3      800 non-null    float64
 7   a4      800 non-null    float64
 8   Vib     800 non-null    int64
 9   Falla   800 non-null    int64
dtypes: float64(4), int64(6)
memory usage: 62.6 KB

In [126]:
df.describe()

,p1,p2,p3,p4,a1,a2,a3,a4,Vib,Falla
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000
mean,8.763750,15.717500,1664.365000,1924.873750,3565.251155,2062.87035,1922.259324,3030.850744,3.000000,2.500000
std,0.952139,1.834912,703.659118,296.822172,2535.118085,1675.97866,1579.469505,2020.354274,1.415098,1.118733
min,3.000000,5.000000,9.000000,16.000000,51.238000,105.89000,50.303000,50.303000,1.000000,1.000000
25%,9.000000,16.000000,1951.000000,1960.000000,1417.050000,1058.17500,877.712500,919.175000,2.000000,1.750000
50%,9.000000,16.000000,1962.000000,1971.000000,3776.550000,1658.35000,1595.450000,3538.350000,3.000000,2.500000
75%,9.000000,16.000000,1973.000000,1982.000000,4814.975000,2583.77500,2440.225000,4612.150000,4.000000,3.250000
max,9.000000,17.000000,1993.000000,1997.000000,12097.000000,11905.00000,7649.300000,12035.000000,5.000000,4.000000

In [127]:
freq = df.groupby(['p1','p2','p3','p4','a1','a2','a3','a4','Vib','Falla']).size() 
freq

p1  p2  p3    p4    a1       a2       a3       a4       Vib  Falla
3   5   9     17    713.70   1519.50  5182.20  3637.50  1    3        1
    9   16    24    1078.60  9702.20  1370.00  1423.70  2    2        1
              1970  745.43   4944.90  4024.00  4024.00  1    3        1
5   7   9     16    1453.90  1233.20  4696.30  1322.10  1    4        1
              17    744.64   1266.90  3572.90  864.00   1    1        1
                                                                     ..
9   17  1985  1993  393.68   356.55   356.55   393.68   3    3        1
                    490.20   108.02   108.02   490.20   3    2        1
                    5395.00  3970.40  3970.40  5395.00  2    4        1
                    5686.10  6118.10  6118.10  5686.10  2    3        1
                    7186.10  2640.50  2640.50  7186.10  2    1        1
Length: 800, dtype: int64

Definición de X y Y

In [128]:
y=df['Falla']
y

0      1
1      1
2      1
3      1
4      1
      ..
795    4
796    4
797    4
798    4
799    4
Name: Falla, Length: 800, dtype: int64

In [129]:
x=df[['p1','p2','p3','p4','a1','a2','a3','a4','Vib']]
x

     p1  p2    p3    p4       a1      a2       a3       a4  Vib
0     5   7     9    17   744.64  1266.9  3572.90   864.00    1
1     5   9    17  1984  1337.00  3553.3   861.81   861.81    1
2     5   9    17  1983   892.09  3424.5   899.00   899.00    1
3     9  17  1982  1990  3411.00   992.5   992.50  3411.00    1
4     5   9    17  1981   799.41  3446.7   893.03   893.03    1
..   ..  ..   ...   ...      ...     ...      ...      ...  ...
795   9  16  1951  1958  3704.90  3178.5  3178.50  3704.90    5
796   9  16  1950  1957  3710.40  3321.2  3321.20  3710.40    5
797   9  16  1949  1956  3850.80  3403.1  3403.10  3850.80    5
798   9  16  1948  1955  3627.00  2981.6  2981.60  3627.00    5
799   9  16  1947  1954  3533.40  2883.5  2883.50  3533.40    5

[800 rows x 9 columns]

Implementación de algoritmos de Clasificación

Random Forest

In [130]:
from sklearn.ensemble import RandomForestClassifier

In [131]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x,y,test_size=0.2,random_state=42)
rf = RandomForestClassifier(n_estimators=500, random_state=11).fit(x_train1, y_train1) 
prediction = rf.predict(x_test1)

In [132]:
f1 = f1_score(y_test1, prediction, average="macro")
precision = precision_score(y_test1, prediction, average="macro")
recall = recall_score(y_test1, prediction, average="macro")
accuracy = accuracy_score(y_test1, prediction, normalize=True)
print('F1: ',f1)
print('Precision: ', precision)
print('Recall: ', recall)
print('Accuracy: ', accuracy)

F1:  0.9348364667406285
Precision:  0.9349206349206349
Recall:  0.9352723665223666
Accuracy:  0.9375

In [133]:
feature_importances_df = pd.DataFrame(
    {"feature": list(x.columns), "importance": rf.feature_importances_}
).sort_values("importance", ascending=False)
feature_importances_df

  feature  importance
4      a1    0.234297
7      a4    0.223150
6      a3    0.177400
5      a2    0.167944
8     Vib    0.098634
2      p3    0.048478
3      p4    0.038547
1      p2    0.006543
0      p1    0.005007

SVC

In [134]:
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [135]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto')).fit(x_train1,y_train1)
prediction=clf.predict(x_test1)

In [136]:
f1 = f1_score(y_test1, prediction, average="macro")
precision = precision_score(y_test1, prediction, average="macro")
recall = recall_score(y_test1, prediction, average="macro")
accuracy = accuracy_score(y_test1, prediction, normalize=True)
print('F1: ',f1)
print('Precision: ', precision)
print('Recall: ', recall)
print('Accuracy: ', accuracy)

F1:  0.6110868076688983
Precision:  0.6600100658246457
Recall:  0.5990079365079365
Accuracy:  0.59375

Decision Tree Classifier

In [137]:
from sklearn.tree import DecisionTreeClassifier

In [138]:
dtc= DecisionTreeClassifier(criterion='entropy').fit(x_train1,y_train1)
prediction=dtc.predict(x_test1)

In [139]:
f1 = f1_score(y_test1, prediction, average="macro")
precision = precision_score(y_test1, prediction, average="macro")
recall = recall_score(y_test1, prediction, average="macro")
accuracy = accuracy_score(y_test1, prediction, normalize=True)
print('F1: ',f1)
print('Precision: ', precision)
print('Recall: ', recall)
print('Accuracy: ', accuracy)

F1:  0.8854969563462819
Precision:  0.8876289868667918
Recall:  0.8883477633477633
Accuracy:  0.8875

K Neighbors Clasifier

In [140]:
from sklearn.neighbors import KNeighborsClassifier

In [141]:
neigh = KNeighborsClassifier().fit(x_train1,y_train1)
prediction=neigh.predict(x_test1)

In [142]:
f1 = f1_score(y_test1, prediction, average="macro")
precision = precision_score(y_test1, prediction, average="macro")
recall = recall_score(y_test1, prediction, average="macro")
accuracy = accuracy_score(y_test1, prediction, normalize=True)
print('F1: ',f1)
print('Precision: ', precision)
print('Recall: ', recall)
print('Accuracy: ', accuracy)

F1:  0.825320653149614
Precision:  0.8277417027417027
Recall:  0.8249729437229438
Accuracy:  0.83125

Union datos de corriente

In [143]:
#datos=pd.read_csv('prueba.csv')
datos_rs=pd.read_csv('Ia_torque05_rs.csv',header=0)
datos_r1b=pd.read_csv('Ia_torque05_r1b.csv',header=0)
datos_r2b=pd.read_csv('Ia_torque05_r2b.csv',header=0)
datos_r3b=pd.read_csv('Ia_torque05_r3b.csv',header=0)

In [144]:
new_data=[];
new_data_1=[];
new_data_2=[];
new_data_3=[];

In [145]:
for i in range(400):
    df_rs=datos_rs[(i*2048):((i+1)*2048)]
    
    def test_func(x, a, b,c):
        return a*np.sin(b*x+c)
    
    x_data=df_rs['t']
    y_data=df_rs['Ia']
    params, params_covariance = curve_fit(test_func, x_data, y_data,p0=[1.5,0.005,0.5])
    new_data.append([])
    
    for j in range (3):
        new_data[i].append(abs(params[j]))

In [146]:
new_df=pd.DataFrame(new_data)
new_df
new_df.columns=['a','b','c']
rs=new_df.head(200)
rs

            a         b            c
0    1.483343  0.007537     3.270044
1    1.487044  0.007576     9.670478
2    0.325148  0.003057    10.565691
3    1.488297  0.007541    18.996464
4    1.492459  0.007538    22.101698
..        ...       ...          ...
195  1.487529  0.007539  1017.098240
196  1.486224  0.007535  1018.702219
197  1.476243  0.007559  1034.613082
198  1.477981  0.007559  1047.133292
199  1.480927  0.007527  1031.276468

[200 rows x 3 columns]

In [147]:
for i in range(400):
    df_r1b=datos_r1b[(i*2048):((i+1)*2048)]
    
    def test_func1(x, a1, b1,c1):
        return a1*np.sin(b1*x+c1)
    
    x_data1=df_r1b['t']
    y_data1=df_r1b['Ia']
    params1, params_covariance1 = curve_fit(test_func1, x_data1, y_data1,p0=[1.4,0.005,0.5])
    new_data_1.append([])
    
    for j in range (3):
        new_data_1[i].append(abs(params1[j]))

In [148]:
new_df_1=pd.DataFrame(new_data_1)
new_df_1
new_df_1.columns=['a','b','c']
r1b=new_df_1.head(200)
r1b

            a         b            c
0    1.562759  0.007521     0.657728
1    0.491708  0.002951     5.144481
2    1.561452  0.007497    11.705086
3    1.563253  0.007537    18.185454
4    1.565572  0.007565    24.729743
..        ...       ...          ...
195  1.564419  0.007545  1023.598318
196  0.405341  0.003009   801.631918
197  1.566407  0.007515  1014.393498
198  1.566298  0.007489  1010.216376
199  1.567483  0.007506  1023.206013

[200 rows x 3 columns]

In [149]:
for i in range(400):
    df_r2b=datos_r2b[(i*2048):((i+1)*2048)]
    
    def test_func2(x, a2, b2,c2):
        return a2*np.sin(b2*x+c2)
    
    x_data2=df_r2b['t']
    y_data2=df_r2b['Ia']
    params2, params_covariance2 = curve_fit(test_func2, x_data2, y_data2,p0=[1.4,0.005,0.5])
    new_data_2.append([])
    
    for j in range (3):
        new_data_2[i].append(abs(params2[j]))

In [150]:
new_df_2=pd.DataFrame(new_data_2)
new_df_2
new_df_2.columns=['a','b','c']
r2b=new_df_2.head(200)
r2b

            a         b            c
0    1.450704  0.007519     3.083781
1    1.443309  0.007526    15.652305
2    1.448817  0.007537    12.550793
3    1.443247  0.007554    18.974841
4    1.447012  0.007559    22.211843
..        ...       ...          ...
195  1.423442  0.007491  1002.552198
196  1.422526  0.007476   996.385938
197  1.425482  0.007519  1016.772174
198  1.433878  0.007558  1038.795976
199  1.432012  0.007561  1046.600852

[200 rows x 3 columns]

In [151]:
for i in range(400):
    df_r3b=datos_r3b[(i*2048):((i+1)*2048)]
    
    def test_func3(x, a3, b3,c3):
        return a3*np.sin(b3*x+c3)
    
    x_data3=df_r3b['t']
    y_data3=df_r3b['Ia']
    params3, params_covariance3 = curve_fit(test_func3, x_data3, y_data3,p0=[1.4,0.005,0.5])
    new_data_3.append([])
    
    for j in range (3):
        new_data_3[i].append(abs(params3[j]))

In [152]:
new_df_3=pd.DataFrame(new_data_3)
new_df_3
new_df_3.columns=['a','b','c']
r3b=new_df_3.head(200)
r3b

            a         b            c
0    1.457093  0.007527     3.113281
1    0.491946  0.003020     1.519029
2    0.343049  0.003070    10.434653
3    1.461247  0.007517    18.683217
4    1.469978  0.007527    21.839715
..        ...       ...          ...
195  1.468109  0.007517  1014.170341
196  1.475614  0.007516  1010.605930
197  1.459124  0.007583  1043.919460
198  1.460834  0.007584  1050.767144
199  0.331895  0.003038   799.350431

[200 rows x 3 columns]

Union de dataframes de corriente

In [153]:
df_corriente=pd.concat([rs,r1b,r2b,r3b],ignore_index=True)
df_corriente

            a         b            c
0    1.483343  0.007537     3.270044
1    1.487044  0.007576     9.670478
2    0.325148  0.003057    10.565691
3    1.488297  0.007541    18.996464
4    1.492459  0.007538    22.101698
..        ...       ...          ...
795  1.468109  0.007517  1014.170341
796  1.475614  0.007516  1010.605930
797  1.459124  0.007583  1043.919460
798  1.460834  0.007584  1050.767144
799  0.331895  0.003038   799.350431

[800 rows x 3 columns]

In [154]:
df

     p1  p2    p3    p4       a1      a2       a3       a4  Vib  Falla
0     5   7     9    17   744.64  1266.9  3572.90   864.00    1      1
1     5   9    17  1984  1337.00  3553.3   861.81   861.81    1      1
2     5   9    17  1983   892.09  3424.5   899.00   899.00    1      1
3     9  17  1982  1990  3411.00   992.5   992.50  3411.00    1      1
4     5   9    17  1981   799.41  3446.7   893.03   893.03    1      1
..   ..  ..   ...   ...      ...     ...      ...      ...  ...    ...
795   9  16  1951  1958  3704.90  3178.5  3178.50  3704.90    5      4
796   9  16  1950  1957  3710.40  3321.2  3321.20  3710.40    5      4
797   9  16  1949  1956  3850.80  3403.1  3403.10  3850.80    5      4
798   9  16  1948  1955  3627.00  2981.6  2981.60  3627.00    5      4
799   9  16  1947  1954  3533.40  2883.5  2883.50  3533.40    5      4

[800 rows x 10 columns]

In [155]:
df_general=pd.concat([df_corriente,df],axis=1)
df_general

,a,b,c,p1,p2,p3,p4,a1,a2,a3,a4,Vib,Falla
0,1.483343,0.007537,3.270044,5,7,9,17,744.64,1266.9,3572.90,864.00,1,1
1,1.487044,0.007576,9.670478,5,9,17,1984,1337.00,3553.3,861.81,861.81,1,1
2,0.325148,0.003057,10.565691,5,9,17,1983,892.09,3424.5,899.00,899.00,1,1
3,1.488297,0.007541,18.996464,9,17,1982,1990,3411.00,992.5,992.50,3411.00,1,1
4,1.492459,0.007538,22.101698,5,9,17,1981,799.41,3446.7,893.03,893.03,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,1.468109,0.007517,1014.170341,9,16,1951,1958,3704.90,3178.5,3178.50,3704.90,5,4
796,1.475614,0.007516,1010.605930,9,16,1950,1957,3710.40,3321.2,3321.20,3710.40,5,4
797,1.459124,0.007583,1043.919460,9,16,1949,1956,3850.80,3403.1,3403.10,3850.80,5,4
798,1.460834,0.007584,1050.767144,9,16,1948,1955,3627.00,2981.6,2981.60,3627.00,5,4
799,0.331895,0.003038,799.350431,9,16,1947,1954,3533.40,2883.5,2883.50,3533.40,5,4

Definición de X y Y

In [156]:
y=df_general['Falla']
y

0      1
1      1
2      1
3      1
4      1
      ..
795    4
796    4
797    4
798    4
799    4
Name: Falla, Length: 800, dtype: int64

In [157]:
x=df_general[['a','b','c','p1','p2','p3','p4','a1','a2','a3','a4','Vib']]
x

,a,b,c,p1,p2,p3,p4,a1,a2,a3,a4,Vib
0,1.483343,0.007537,3.270044,5,7,9,17,744.64,1266.9,3572.90,864.00,1
1,1.487044,0.007576,9.670478,5,9,17,1984,1337.00,3553.3,861.81,861.81,1
2,0.325148,0.003057,10.565691,5,9,17,1983,892.09,3424.5,899.00,899.00,1
3,1.488297,0.007541,18.996464,9,17,1982,1990,3411.00,992.5,992.50,3411.00,1
4,1.492459,0.007538,22.101698,5,9,17,1981,799.41,3446.7,893.03,893.03,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,1.468109,0.007517,1014.170341,9,16,1951,1958,3704.90,3178.5,3178.50,3704.90,5
796,1.475614,0.007516,1010.605930,9,16,1950,1957,3710.40,3321.2,3321.20,3710.40,5
797,1.459124,0.007583,1043.919460,9,16,1949,1956,3850.80,3403.1,3403.10,3850.80,5
798,1.460834,0.007584,1050.767144,9,16,1948,1955,3627.00,2981.6,2981.60,3627.00,5
799,0.331895,0.003038,799.350431,9,16,1947,1954,3533.40,2883.5,2883.50,3533.40,5

Implementación de modelos

Random Forest

In [158]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x,y,test_size=0.2,random_state=42)
rf = RandomForestClassifier(n_estimators=500, random_state=11).fit(x_train1, y_train1) 
prediction = rf.predict(x_test1)

In [159]:
f1 = f1_score(y_test1, prediction, average="macro")
precision = precision_score(y_test1, prediction, average="macro")
recall = recall_score(y_test1, prediction, average="macro")
accuracy = accuracy_score(y_test1, prediction, normalize=True)
print('F1: ',f1)
print('Precision: ', precision)
print('Recall: ', recall)
print('Accuracy: ', accuracy)

F1:  0.986470453668733
Precision:  0.9857142857142858
Recall:  0.9877976190476191
Accuracy:  0.9875

SVC

In [160]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto')).fit(x_train1,y_train1)
prediction=clf.predict(x_test1)

In [161]:
f1 = f1_score(y_test1, prediction, average="macro")
precision = precision_score(y_test1, prediction, average="macro")
recall = recall_score(y_test1, prediction, average="macro")
accuracy = accuracy_score(y_test1, prediction, normalize=True)
print('F1: ',f1)
print('Precision: ', precision)
print('Recall: ', recall)
print('Accuracy: ', accuracy)

F1:  0.9020476511440367
Precision:  0.9050729903943376
Recall:  0.9030573593073593
Accuracy:  0.90625

Decision Tree Clasifier

In [162]:
dtc= DecisionTreeClassifier(criterion='entropy').fit(x_train1,y_train1)
prediction=dtc.predict(x_test1)

In [163]:
f1 = f1_score(y_test1, prediction, average="macro")
precision = precision_score(y_test1, prediction, average="macro")
recall = recall_score(y_test1, prediction, average="macro")
accuracy = accuracy_score(y_test1, prediction, normalize=True)
print('F1: ',f1)
print('Precision: ', precision)
print('Recall: ', recall)
print('Accuracy: ', accuracy)

F1:  0.898919246988793
Precision:  0.899057804940158
Recall:  0.8996572871572872
Accuracy:  0.9

K Neighbors Clasifier

In [164]:
neigh = KNeighborsClassifier().fit(x_train1,y_train1)
prediction=neigh.predict(x_test1)

In [165]:
f1 = f1_score(y_test1, prediction, average="macro")
precision = precision_score(y_test1, prediction, average="macro")
recall = recall_score(y_test1, prediction, average="macro")
accuracy = accuracy_score(y_test1, prediction, normalize=True)
print('F1: ',f1)
print('Precision: ', precision)
print('Recall: ', recall)
print('Accuracy: ', accuracy)

F1:  0.9456892505085276
Precision:  0.9459459459459459
Recall:  0.9476461038961039
Accuracy:  0.95